/* buttons.css */
.postbutton {
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 25px;
    color:silver;
    font-size:small;
    border: 2px solid rgb(179, 175, 175);
    border: 2px solid green;
    margin-right: 0px;
}

.postbutton:active {
    background-color: gray;
    transform: scale(0.90);
}

.delete-icon {
    background-image: url("../media/delete-icon.png");
}

.bin-icon {
    background-image: url("../media/bin.png");
}

.delete_button_container {
    text-align: center;
    width: 100%; 
}

.delete_button {
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    color: rgb(231, 91, 91);
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border: 2px solid rgb(179, 175, 175);
}

.delete_button:active {
    background-color:red;
    transform: scale(0.90);
}

.next_prev_button {
    width: 200px;
    height: 30px;
    background-color: black;
    border-radius: 25px;
    color:silver;
    font-size:small;
    border: 2px solid rgb(179, 175, 175);
}

.addbutton {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 25px;
    color: silver;
    font-size: small;
    border: 2px solid green;
}