/* form.css */
.add_picture_form {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items:baseline;
    color: white;
    display: block;
    margin-right: 100px;
    top: 5px;
}

.image_toggle {
    width: 350px;
    height: 50px;
    background-color: rgb(176, 175, 175);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border: 2px solid rgb(179, 175, 175);
    margin-left: 50px;
}

.add_image_container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Optional */
    justify-content:space-between; /* Optional */
    margin:15px;
}

.add_image_input_title_author {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    font-size: small;
    width: 200px;
}

.add_image_url {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    font-size: small;
    width: 300px;
}

.the3boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items:baseline
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
}

.comment-group {
    justify-content: space-between; 
}
