body {
    background: #000000;
}

header {
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
}

header #title {
    color: white;
    text-decoration: none;
    margin: 0px;
    width: 100%;
    font-size: 48px;
}

.tyson_pic {
    width: 800px; 
    height: 600px; 
    background-size: cover; 
    background-position: center; 
}

.picture_comment_container{
    display: none;
    flex-direction: row;
    margin-top: 40px;
}

.picture_container{
    display: flex;
    flex-direction: row;
}

.comment_container {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 800px; 
    height: 600px;
}

.pictures{
    width: 800px; 
    height: 600px; 
    background-size: cover; 
    background-position: center; 
}

.comment_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment_content {
    font-size: 16px;
    margin-bottom: 0;
    color: white;
}

.comment_author_date {
    font-size: 14px;
    color: #888; 
    text-align: right;
    width: 100%;
    margin: 0;
}

.pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.comment_section {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.comment_boxs {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 540px;
}

.pagination_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;  
}

.icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -8px;
    background-size: 75%;
}

.delete-icon {
    background-image: url("../media/delete-icon.png");
}

.del_content_autoher{
    position: relative; 
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}

.comments_list {
    overflow-y: auto;
    max-height: 540px; 
}