body {
    background: #000000;
}

header {
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
}

header #title {
    color: white;
    text-decoration: none;
    margin: 0px;
    width: 100%;
    font-size: 48px;
}

.picture_comment_container{
    display: none;
    flex-direction: row;
    margin-top: 40px;
}

.picture_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_container {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    margin-left: 15px;
    width: 800px; 
    height: 730px;
}

.pictures{
    width: 800px; 
    height: 600px; 
    background-size: cover; 
    background-position: center; 
    border-style: solid;
    border-color: white;
}

.comment_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment_content {
    font-size: 16px;
    margin-bottom: 0;
    color: white;
}

.comment_author_date {
    font-size: 14px;
    color: #888; 
    text-align: right;
    width: 100%;
    margin: 0;
}

.pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.comment_section {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.comment_boxs {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 540px;
}

.pagination_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;  
    margin-bottom: -50px;
}

.icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -8px;
    background-size: 75%;
}

.toggle_icons {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 90px;
}

.delete-icon {
    background-image: url("../media/delete-icon.png");
}

.next-icon {
    background-image: url("../media/next.png");
}

.back-icon {
    background-image: url("../media/back.png");
}

.del_content_autoher{
    position: relative; 
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}

.comments_list {
    overflow-y: auto;
    max-height: 640px; 
}

.image_wrapper {
    width: 800px;
    height: 710px;
    background-size: cover;
    background-position: center;
}

.image-info {
    text-align: center;
    color: white;
    border-style: solid;
    border-color: red;
    width: 100%;
    margin-bottom: -15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bin-icon {
    background-image: url("../media/bin.png");
  }

.delete_button_container {
    text-align: center;
    width: 100%; 
}

.delete_button {
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    color: rgb(231, 91, 91);
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border: 2px solid rgb(179, 175, 175);
    
}

.next_prev_button {
    width: 200px;
    height: 30px;
    background-color: black;
    border-radius: 25px;
    color:silver;
    font-size:small;
    border: 2px solid rgb(179, 175, 175);
}

.nav_image_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.name_inputboxes{
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    font-size: small;
    width: 80%;
}

.comment_inputboxes{
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    width: 180%;
    font-size: small;
}

.postbutton{
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 25px;
    color:silver;
    font-size:small;
    border: 2px solid rgb(179, 175, 175);
    border: 2px solid green;
    margin-right: 0px;
}

.add_comment_box{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 50px 0px 0px;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
}

.comment-group {
    justify-content: space-between; 
}


.postbutton:active {
    background-color: gray;
    transform: scale(0.90);
}


.delete_button:active {
    background-color:red;
    transform: scale(0.90);
}

.add_picture_form {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items:baseline;
    color: white;
    display: block;
    margin-right: 100px;
    top: 5px;
}

.image_toggle{
    width: 350px;
    height: 50px;
    background-color: rgb(176, 175, 175);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border: 2px solid rgb(179, 175, 175);
    margin-left: 50px;
}

.add_image_container{
    display: flex;
    flex-direction: row;
    align-items: center; /* Optional */
    justify-content:space-between; /* Optional */
    margin:15px;
}

.add_image_input_title_author {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    font-size: small;
    width: 200px;
}

.add_image_url {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #000000;
    color: #cbc7c7;
    font-size: small;
    width: 300px;
}

.the3boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items:baseline
}

.addbutton {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 25px;
    color: silver;
    font-size: small;
    border: 2px solid green;
}

.button_add_class {
    position: relative;
    display: flex;
    justify-content: center;
}